.page {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

::deep .sidebar {
    padding: var(--elysium-spacing-md);

    div.logo {
        display: flex;
        justify-content: center;
        align-items: center;
        aspect-ratio: 1 / 1;
        padding-bottom: var(--elysium-spacing-md);
    }

    div.navigation-items {
        display: flex;
        flex-direction: column;
        gap: var(--elysium-spacing-sm);
    }

    div.profile {
        margin-top: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 640.98px) {
    .page {
        flex-direction: column;
    }

    ::deep .sidebar {
        display: none !important;
    }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    ::deep .bottom-nav-bar {
        display: none !important;
    }
}
